.skills {
    
    padding: 20px;
    text-align: center;
    color: white;
}

.skills .container .title {
    font-family: 'Comfortaa', cursive;

    letter-spacing: 10px;
    font-size: 30px;
}

.skills .container .tech {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.skills .container .tech .item {
    background-color: rgb(50, 49, 49);
    padding: 10px;
    height: 90px;
    width: 90px;
    border-radius: 5px;
    margin: 10px 5px;
    

}

.skills .container .tech .item p {
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
}
@media screen and (max-width:300px) {
    .skills .container .tech {
        
        justify-content: center;
        
        
    }
    
}